@model WebApp.Models.Entidades.TB_APLICADOR
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <section class="service">
        <div class="cadastro">
            <div class="title-subpaginas">
                <div>
                    <img src="~/images/cadastro.svg">
                    <p>Nova conta</p>
                </div>
            </div>
            <label>Selecione seu perfil</label>
            <div class="radio-form">
                <input type="radio" name="cliente-aplicador" />
                <div>Sou cliente</div>
                <input type="radio" name="cliente-aplicador" />
                <div>Sou aplicador</div>
            </div>

            <div class="columns-cadastro">
                <div class="cadastro-left">
                    <div class="cadastro-line">
                        <div>
                            <label>Nome completo</label><br>
                            @Html.EditorFor(model => model.NOME_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="cadastro-line">
                        <div>
                            <label>Endereço</label><br>
                            @Html.EditorFor(model => model.ENDERECO_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="low-cadastro cadastro-numero">
                            <label>Número</label><br>
                            @Html.EditorFor(model => model.NR_CASA_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="cadastro-line">
                        <div class="low-cadastro cadastro-complemento">
                            <label>Complemento</label><br>
                            @Html.EditorFor(model => model.COMPLEMENTO_CASA_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        <div>
                            <label>Bairro</label><br>
                            @Html.EditorFor(model => model.BAIRRO_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="cadastro-line">
                        <div>
                            <label>Cidade</label><br>
                            @Html.EditorFor(model => model.CIDADE_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        <div class="low-cadastro cadastro-uf">
                            <label>Uf</label><br>
                            @Html.EditorFor(model => model.UF_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="cadastro-line">
                        <div>
                            <label>Telefone</label><br>
                            @Html.EditorFor(model => model.TELEFONE_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        <div class="cadastro-celular">
                            <label>Celular</label><br>
                            @Html.EditorFor(model => model.CELULAR_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="cadastro-line">
                        <div>
                            <label>Email</label><br>
                            @Html.EditorFor(model => model.EMAIL_APLICADOR, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                </div>

                <div class="cadastro-right">
                    <div class="cadastro-line">
                        <div>
                            <label>Foto/Logomarca</label><br>
                            <div class="box-photo">
                                <label for="upload-photo" class="select-photo">
                                    <img src="~/images/file.png">
                                    <p>Enviar imagem...</p>
                                </label>
                                <input type="file" name="photo" id="upload-photo" />
                            </div>
                        </div>
                    </div>
                    <div class="cadastro-line">
                        <div>
                            <label>CPF/CNPJ</label><br>
                            <input type="text">
                        </div>
                    </div>
                    <div class="cadastro-line">
                        <div>
                            <label>Envio de documentos</label><br>
                            <select class="appearance-select form-select">
                                <option>&nbsp;</option>
                                <option>Selecione</option>
                                <option>Primeira opção</option>
                                <option>Segunda opção</option>
                                <option>Terceira opção</option>
                                <option>Quarta opção</option>
                            </select>
                            <div class="box-photo">
                                <label for="upload-photo" class="select-photo">
                                    <img src="~/images/file.png">
                                    <p>Enviar imagem...</p>
                                </label>
                                <input type="file" name="photo" id="upload-photo" />
                            </div>
                        </div>
                    </div>
                    <div class="cadastro-line">
                        <div>
                            <label>Outro documento</label><br>
                            <select class="appearance-select form-select">
                                <option>&nbsp;</option>
                                <option>Selecione</option>
                                <option>Primeira opção</option>
                                <option>Segunda opção</option>
                                <option>Terceira opção</option>
                                <option>Quarta opção</option>
                            </select>
                            <div class="box-photo">
                                <label for="upload-photo" class="select-photo">
                                    <img src="~/images/file.png">
                                    <p>Enviar imagem...</p>
                                </label>
                                <input type="file" name="photo" id="upload-photo" />
                            </div>
                        </div>
                    </div>
                    <div class="criar-aplicador">
                        <button class="button-add">+ Adicionar outro</button><br>
                        <button class="button-conta">Criar conta</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
<script>
var div = document.getElementsByClassName("select-photo")[0];
        var input = document.getElementById("upload-photo");

        div.addEventListener("click", function () {
            input.click();
        });
        input.addEventListener("change", function () {
            var nome = "Não há arquivo selecionado. Selecionar arquivo...";
            if (input.files.length > 0) nome = input.files[0].name;
            div.innerHTML = nome;
        });</script>
