<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>

    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/slick/slick.css">
    <link rel="stylesheet" href="~/Content/slick/slick-theme.css">
</head>
<body>
    <div class="container body-content">
        <div id="section-deslize"></div>
        <div class="all-menu">
            <div class="content-top">
                <div class="content-logo">
                    <img src="~/images/oaplicador-logo.svg" class="logo">
                    <p>A maior plataforma de aplicadores de adesivos do Brasil</p>
                </div>
                <nav id="menu-responsivo">
                    <a href="#" class="slide-menu-open"><img src="~/images/menu.svg"></a>
                    <div class="side-menu-overlay"></div>
                    <div class="side-menu-wrapper">
                        <a href="#" class="menu-close">&times;</a>
                        <div>
                            <a href="#">Como funciona</a><br>
                            <a href="#">Meus projetos</a><br>
                            <a href="#">Trabalhos disponíveis</a><br>
                            <a href="#">Login</a><br>
                            <a href="#" class="Busca">BUSCAR</a><br>
                            <a href="#">-</a><br>
                            <a href="#">Sobre</a><br>
                            <a href="#">Cursos</a><br>
                            <a href="#">Blog</a><br>
                            <a href="#">Empresas parceiras</a><br>
                            <a href="#">Fale com o aplicador</a><br>
                        </div>
                    </div>
                </nav>
                <nav id="menu-desktop" class="menu">
                    <a href="#">Como funciona</a><br>
                    <a href="#">Meus projetos</a><br>
                    <a href="#">Trabalhos disponíveis</a><br>
                    <a href="#" class="menu-login">Login</a><br>
                    <a id="Busca" onclick="showSearch();">
                        <img id="imgBusca" src="~/images/search.svg"
                             class="buscar-icon">
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=554197552748&text=sua%20mensagem" target="_blank">
                        <img id="imgBusca" src="~/images/whatsapp-icon.svg" class="whatsapp-icon">
                    </a>
                    <a id="Busca" onclick="showMenu();"><img id="imgBusca" src="~/images/menu.svg" class="buscar-icon"></a>
                </nav>
            </div>
            @if (this.Url.Action().ToString().Contains("index") || this.Url.Action().ToString() == "/")
            {

                <div class="menu-service">
                    <ul>
                        <li><a href="@Url.Action("ServicoParede", "Servicos")"><img src="~/images/parede.png"><br>Parede</a></li>
                        <li><a href="@Url.Action("ServicoPisos", "Servicos")"><img src="~/images/piso.png"><br>Piso</a></li>
                        <li><a href="@Url.Action("ServicoTeto", "Servicos")"><img src="~/images/teto.png"><br>Teto</a></li>
                        <li><a href="@Url.Action("ServicoVeiculo", "Servicos")"><img src="~/images/veiculo.png"><br>Veículo</a></li>
                        <li><a href="@Url.Action("ServicoMoto", "Servicos")"><img src="~/images/moto.png"><br>Moto</a></li>
                        <li><a href="@Url.Action("ServicoCaminhao", "Servicos")"><img src="~/images/caminhao.png"><br>Caminhão</a></li>
                        <li><a href="@Url.Action("ServicoBau", "Servicos")"><img src="~/images/bau.png"><br>Baú</a></li>
                        <li><a href="Servicos/servico-geladeira.html"><img src="~/images/geladeira.png"><br>Geladeira</a></li>
                        <li><img src="~/images/outras.png"><br>Outras</li>
                    </ul>
                </div>
            }

            <div class="backgroundMenu"></div>
            <div id="box-search" class="overlay">
                <div class="content-overlay">
                    <a class="closebtn" onclick="hideSearch()">&times;</a>
                    <div class="content-search">
                        <input type="text" class="input-search" placeholder="BUSCAR">
                    </div>
                    <p class="legend-search">Escreva e pressione enter para iniciar sua pesquisa</p>
                </div>
            </div>
            <div id="box-menu" class="overlay sub-menu">
                <div class="content-sub-menu">
                    <ul>
                        <li><a href="">Sobre</a></li>
                        <li><a href="">Cursos</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Empresas parceiras</a></li>
                        <li><a href="">Fale com o aplicador</a></li>
                        <a onclick="hideMenu()" class="btn-close-menu">&times;</a>
                    </ul>
                </div>
            </div>

        </div>

        @RenderBody()
        <footer>
            <div class="section-footer">
                <div class="content-footer">
                    <div class="footer-left">
                        <div class="logo-footer">
                            <img src="~/images/logo-footer.svg">
                            <p>A maior plataforma de aplicadores de adesivos do Brasil.</p>
                        </div>
                        <div>
                            <div class="sub-menu-footer">
                                <ul>
                                    <li><a href="">Sobre</a></li>
                                    <li><a href="">Fale com o aplicador</a></li>
                                    <li><a href="">Blog</a></li>
                                </ul>
                                <ul>
                                    <li><a href="">Aplicador</a></li>
                                    <li><a href="">Aplicação de adesivos</a></li>
                                    <li><a href="">Cursos</a></li>
                                </ul>
                                <ul>
                                    <li><a href="">FAQ</a></li>
                                    <li><a href="">Termos de uso</a></li>
                                    <li><a href="">Empresas parceiras</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-right">
                        <div class="social-footer">
                            <a href="https://www.facebook.com/oaplicadorconsultoria/" target="_blank">
                                <img src="~/images/facebook.png">
                            </a><br>
                            <a href=""><img src="~/images/twitter.png"></a>
                            <a href=""><img src="~/images/instagram.png"></a>
                            <a href=""><img src="~/images/linkedin.png"></a>
                            <a href="https://www.youtube.com/user/diowcwb" target="_blank">
                                <img src="~/images/youtube.png">
                            </a><br>
                            <a href=""><img src="~/images/email.png"></a>
                        </div>
                        <div class="newsletter-footer">
                            <p>Fique por dentro</p>
                            <p>Assine a nossa newsletter. Enviaremos nossas notícias e novidades para o seu e-mail</p>
                            <div>
                                <input type="text" placeholder="E-mail">
                                <button>Inscrever</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="go-top">
                    <a href="#section-deslize" id="scrollSuaveTop" class="scrollSuave">
                        <img src="~/images/arrow-top.png">
                    </a>
                </div>
            </div>
            <div class="copyright">
                <p>© Copyright 2019 Aplicador. Todos os direitos reservados. Criado por studio design e conteúdo.</p>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/slick/slick.js"></script>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>
